body{
	background-color: orange;
}
a{
	color: blue;
}
a:hover{
	color: black;
	font-size: 150%;
	padding: 10% 0;
}
h1{
	padding: 5% 5% 2% 5%;
	background-color: black;
	display:inline;
	margin-left: 40%;
	color:white;
}
h1, h2{
	text-align: center;
}
li{
	list-style-type: lower-greek;
}
p{
	background-color: silver;
}
